<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="info.piwai.cleanandroidcode.test" android:versionCode="1" android:versionName="1.0-SNAPSHOT">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

  <application android:icon="@drawable/icon" android:label="@string/app_name">
    <uses-library android:name="android.test.runner" />
  </application>

  <instrumentation android:targetPackage="info.piwai.cleanandroidcode"
    android:name="android.test.InstrumentationTestRunner" />

</manifest>

